.account_type_title {
  font-size: 12px;
  font-weight: 500;
  padding: 11px 25px;
  background-color: rgba($secondaryColor, 0.09);
  margin: 0 auto;
  margin-bottom: 25px;
  width: fit-content;
  border-radius: $mainBorderRadius;
  height: 39px;
  color: $secondaryColor;
  
}