.packages_page__ {
  .current_package_wrapper__ {
    border-bottom: 1px solid $borderColor;
    padding-bottom: 33px;
    margin-bottom: 33px;
  }

  .main_title__ {
    font-size: 14px;
    font-weight: 400;
    color: $headingMainColor;
    margin-bottom: 20px;
  }
}