.services_gallery_upload_files_page {

  .services_gallery_item_wrapper__ {
    position: relative;
    
    &:hover {
      .delete_uploaded_files_button__ {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  
  .title__ {
    font-size: 19px;
    font-weight: 500;
    color: $headingFourthColor;
    margin-top: 15px;
    margin-bottom: 40px;
    text-align: center;
  }


  .file_input__ {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }

  .delete_uploaded_files_button__ {
    position: absolute;
    top: -13px ;
    inset-inline-end: -13px;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
  }
  
  .services_gallery_item__ {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    .figure__ {
      overflow: hidden;
      border-radius: $thirdBorderRadius;
      padding-bottom: 96.13%;
      flex-grow: 1;
      position: relative;
  
      .video__ {
        position: absolute;
        width: auto;
        height: 100%;
        min-width: 100%;
        min-height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
      }
    }
    

    &.video_item__ {

      &::before {
        content: url(../images/shapes/video-square-broken.svg);
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(#000,0.57);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 2;
        border-radius: $thirdBorderRadius;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}

.services_gallery_item_wrapper__ {
  
}